DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=

VERIFIED_ROLE_ID=
VERIFIED_ROLE_NAME=인증
ADMIN_ROLE_ID=

RELIGION_ROLE_PREFIX=종교 | 
RELIGION_CHOICES=무교,기독교,천주교,불교,이슬람교,힌두교,원불교,유교,도교,유대교,기타
RELIGION_EXTRA_ROLE_ID=1517171553102467153
MBTI_ROLE_PREFIX=MBTI | 

AUTO_REGISTER_UPDATE_COMMAND=true
LOG_CHANNEL_ID=

ENABLE_HEALTH_SERVER=true
HEALTH_PORT=
WEB_ADMIN_TOKEN=
